<h1>Welcome to the About Page</h1>
<h2>Name: Shirisha Singh</h2>
<h3>Description:</h3>
<p>
  This webpage was created using Django as a part of one of the assignments.
  The website is all about generating random passwords for the user.
</p>
<h3>Functionalities:</h3>
<h4>
  If nothing is specified, a password of length 12 having all small characters
  would be generated.
  <br>
</h4>
<p>
  Or You can utilize the following functions:</br>
  <br>
  1. Choose the length of the password from the dropdown
  <br>
  2. Check the 'UpperCase' checkbox if you want to include UpperCase characters
  <br>
  3. Check the 'Numbers' checkbox if you want to include numbers
  <br>
  4. Check the 'Special Characters' checkbox if you want to include SpecialCharacters
</p>
